doctype html
head
  title="Visualize"
  link(rel="stylesheet" href="/visualize.css")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.js")
  script(type="text/javascript" src="visualize.js")
body
  canvas(id="drawCanvas")
  div(id="ballReceiverDiv")
    input(type="checkbox" id="ballReceiverInput")
    | Show ball receiver info
  button(id="drawButton" onclick="showPlayFromFirst(" + data + ")")
    | Start Play
  div(id="frameDiv")
    button(id="frameButton" onclick="gotoFirstFrame(" + data + ")")
      | Goto First Frame
    span(id="frameData")
  a(id="choosePlay" href="/")
    | Choose Another Play
  div(id="keyEvents")
