doctype html
head
  title="Error"
  link(rel="stylesheet" href="/visualize.css")
body
  div(id="errorMessage")
    | Incorrect game value: #{game} or Incorrect play value: #{play} !
  a(id="choosePlay" href="/")
    | Choose another play