doctype html
head
  title="Choose Play"
  link(rel="stylesheet" href="/visualize.css")
body
  form(action="/showPlay" method="POST")
    label
      | Game:
    input(type="text" name="game" pattern="[0-9]+" title="only numbers are valid")
    label
      | Play:
    input(type="text" name="play" pattern="[0-9]+" title="only numbers are valid")
    button(type="submit")
      | Choose Play
