<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.11/paper-full.js"></script>
<script type="text/javascript" src="visualize.js"></script>
<link rel="stylesheet" href="/visualize.css">
<canvas id="drawCanvas"></canvas>
<button id="drawButton" onclick="draw()">Draw</button>
