#drawCanvas {
  display: block;
  width: 800px;
  height: 400px;
}
form * {
  display: block;
  margin-bottom: 5px;
}
#choosePlay {
  display: block;
  margin-top: 10px;
}
#frameDiv {
  display: block;
  margin-top: 10px;
}
#frameData {
  display: inline-block;
  margin-left: 10px;
}
#errorMessage {
  color: red;
  font-size: large;
  font-weight: bold;
}
#playInfo {
  display: block;
  margin-top: 10px;
}
